@model IEnumerable<ASP_DS.Models.usuario>

@{
    ViewBag.Title = "Lista - Usuario";
}

<h2>Lista Usuario</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Usuario
        </th>
        <th>
            Apellido Usuario
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Correo Electronico
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>

            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id }, new { @class = "linkDelete" })
            </td>
        </tr>
    }


</table>
@Html.ActionLink("Paginador", "PaginadorIndex")
@section scripts{
    <script>
        $(".linkDelete").click(function (event) {
            if (!confirm('¿Esta Seguro de Eliminar?')) {
                event.preventDefault();
            }
        })
    </script>
}
